{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<section id="home" class="home">

    <div class="theme">
        <input type="checkbox" id="checkbox" class="checkbox">
        <label class="label" for="checkbox">
            <div class="ball"></div>
        </label>
    </div>
    
    <h1 class="banner">Send Encrypted Emails</h1>
    <h3 class="slogan">you have a vision. we have a team to get you there</h3>
    <a href="sendmail"><button class="button">Send Email</button></a>
    <a href="decrypt"><button class="button">Decrypt Email</button></a>

    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>

    <div class="fas fa-envelope mail1"></div>
    <div class="fas fa-envelope mail2"></div>

</section>
{% endblock %}
